body{
    width: 120px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: block;
    text-align: center;
}
img{

}
li {
    font-size: 18px;
    text-align: justify;
    justify-content: space-around;
}
#logo{
    columns: 2;
    margin-left: 15px;
    margin-right: 1px;
}
#tel{
    margin-top: 30px;
    display: inline-block;
    width: auto;
    margin-left: 230px;
    font-size: 33px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #ca902e;
}
.colortext{
    color: #bab5b3;
}
#email {
    color: #ca902e;
    display: inline-block;
    width: auto;
    margin-left: 230px;
    font-size: 29px;
    text-decoration: none;
font-family: 'Open Sans', sans-serif;
}
#header {
    columns: 6;
    background-color: #ca902e;
    color: white;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: flex-start;
    flex-grow: 2;
    padding: 10px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.col{
    display: inline-block;
    width: 80px;
    height: 90px;
    text-align: center;
}
#menu{
    align-items: baseline;
    color: #ca902e;
}
#info{
    columns: 2;
    width: initial;
}
hr {
    border: 1px;
    height: 6px;
    background-color: #ca902e;
    color: #ca902e;
    margin-top: 60px;
}
#info2, #email2, #tel2{
    color: #b5ac9c;
    margin-left: 110px;
}
button {
    color: #ca902e;
    background-color: white;
    outline-color: #ca902e;
}
#footer{
    background-color: #f3f3f3;
    padding: 50px;
    margin-left: 0;
    margin-right: 0;
}
#regaly, #info{
    color: black;
}
#color{
    color: #ca902e;
}