
.container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
    flex-wrap: wrap;
}
li {
    font-size: 17px;
    text-align: justify;
}
#logo{
    columns: 2;
    margin-left: 15px;
    margin-right: 1px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
#tel{
    margin-top: 29px;
    display: inline-block;
    width: auto;
    margin-left: 235px;
    font-size: 28px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #ca902e!important;
}
.colortext{
    color: #bab5b3;
}
#email{
    color: #ca902e!important;
    display: inline-block;
    width: auto;
    margin-left: 185px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
#header {
    columns: 6;
    background-color: #ca902e;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: flex-start;
    flex-grow: 2;
    padding: 10px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}
#header a{
    text-align: center;
    color: white;
}
.attic {
    color: white !important;
    text-decoration: none;
    background-color: transparent;
}
#menu{
    align-items: baseline;
    color: #ca902e;
}
#info{
    columns: 2;
    width: initial;
}
hr {
    border: 1px;
    height: 6px !important;
    background-color: #ca902e;
    color: #ca902e;
    margin-top: 50px !important;
}

#info2, #tel2, #email2{
    color: #625c41;
    margin-left: 20px;
}
#footer{
    background-color: #f3f3f3;
    padding: 50px;
    margin-left: 0;
    margin-right: 0;
}
#regaly, #info{
    color: black;
}
#colori{
    color: #ca902e;
}
.btn-outline-info:hover {
    background-color: white!important;
    border-color: #ca902e!important;
}
.btn-outline-info{
    border-color: #ca902e !important;
    color: #ca902e !important;
}
.text-32{
    font-size: 32px;
    color: #625c41;
}
.gray{
    color: #625c41;
}
.yellow{
    background-color: #ca902e;
    height: 7px;
    flex-grow: 1;
}
.gray2{
    background-color: #b5ac9c;
    height: 7px;
    flex-grow: 1;
}
#footer{
    padding: 15px;

}
#icon{
    margin-right: 300px;
}